.container-formulario {
  margin-top: 50px;
}
.formulario {
  padding-top: 10px;
  padding-bottom: 20px;
}
input[type="text"],
input[type="email"] {
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #4d5562;
  border-radius: 13px;
  box-sizing: border-box;
  background-color: #394150;
  color: #e5e7eb;
  cursor: pointer;
}

.formulario-btn {
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #4d5562;
  border-radius: 13px;
  box-sizing: border-box;
  color: #e5e7eb;
  cursor: pointer;
  background-color: #394150;
}

.button-selected {
  background-color: #652cd1;
}
